* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: black;
    font-family: '', '';
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.bg-image {
    height: 400vw;
    width: 100%;
    margin: 0 auto;
    background-image: url("./../images/layout.png");
    opacity: 0.3;
    z-index: -1;
    position: fixed;
}
.section1 {
    margin: 0 auto;
    width: 1440px;
    height: 262px;
    z-index: 2;
    position: relative;

}
.main {
    z-index: 1;
    position: relative;
}

.title {
    margin: 0;
    color: white;
    font-size: 200px;
    text-align: center;
    padding-top: 10px;
}
.title-small {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: -35px;
}
.line-1 {
    width:100%;
    height:15px; 
    background: #8E8F7B;
    margin-top: 54px;
}
.line-2 {
    width:100%;
    height:15px; 
    background: #2D2F19;
}