* {
    box-sizing: border-box;
    outline: 1px solid red !important;
}

body {
    width: 100%;
    height: 342vw;
    margin: 0 auto;
    background-position: top;
    background-color: black;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-image: url("../images/layout.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: -2;
}

/* body::after {
    content: '';
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../images/layout.png");
    opacity: 0.2;
    z-index: -2;
} */

.tiny5-regular {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section1 {
    margin: 0 auto;
    width: 100%;
    height: 18vw;
    position: relative;
}

.title {
    margin: 0;
    color: white;
    font-size: 14vw;
    text-align: center;
    padding-top: 0.6vw;
}

.title-small {
    color: white;
    font-size: 2.7vw;
    text-align: center;
    margin-top: -2.5vw;
}

.line-1 {
    width: 100%;
    height: 1vw;
    background: #8E8F7B;
    margin-top: 3vw;
}

.line-2 {
    width: 100%;
    height: 1vw;
    background: #2D2F19;
}

.hidden {
    display: none !important;
}

.section3 {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 52vw;
    display: flex;
}

.background-sec-3 {
    height: 52vw;
    width: 100%;
    background-image: url(../images/section3/backgroundsec3.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 2vw;
    display: flex;
    justify-content: center;
}

.player {
    width: 84vw;
    height: 41vw;
    background-color: #8E8F7B;
    border: 0.2vw solid black;
    margin: 5vw;
    margin-left: 3vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5vw;
}

.disk-block {
    width: 36vw;
    height: 36vw;
    position: relative;
    background-color: #61624F;
    border: 0.3vw solid black;
}

.cd-disk {
    height: 35vw;
    width: 35vw;
    background-image: url(../images/section3/CD.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.disk-block::after {
    content: "";
    position: absolute;
    width: 35.4vw;
    height: 35.4vw;
    top: 0;
    bottom: 0;
    border: 0.1vw solid white;
}

.buttons-player {
    display: flex;
    justify-content: space-between;
}

.buttons-player button {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.section3-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 6vw;
    padding-left: 3vw;
}

.dynamic-1 {
    width: 35vw;
    height: 2vw;
    background: #0b101d;
}

.dynamic-2 {
    width: 35vw;
    height: 2vw;
    background: #0b101d;
    margin-top: 2vw;
}

.dynamic-3 {
    width: 35vw;
    height: 2vw;
    background: #0b101d;
    margin-top: 2vw;
}

.background-sec-4 {
    width: 100%;
    height: 14vw;
    position: relative;
    padding-top: 1vw;
}

.buttons-player img {
    height: 9vw;
    width: 9vw;
}

.background-sec-4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/section4/wavebackground.png");
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    z-index: 1;
}

.buttons-section-4 {
    display: flex;
    gap: 1vw;
    position: absolute;
    right: 2vw;
    top: 2vw;
    padding-right: 4vw;
    z-index: 2
}

.buttons-section-4 button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.buttons-section-4 img {
    width: 9vw;
    height: 9vw;
}

.wave-line {
    overflow: hidden;
    width: 100%;
    margin-top: 2vw;
}

.wave-track {
    display: flex;
    gap: 1vw;
    animation: marquee 10s linear infinite;
}

.wave-track img {
    height: 4vw;
    width: auto;
}

.wave-ruler {
    position: relative;
    width: 100%;
    height: 4vw;
    cursor: pointer;
    z-index: 2;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.slider-button {
    position: absolute;
    margin-top: 2vw;
    margin-left: 7vw;
    transition: left 0.3s ease;
    z-index: 2;
}

.slider-button img {
    width: 4vw;
    height: 4vw;
}

.section5 {
    width: 100%;
    height: 80vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 7.5vw;
}

/* .background-section-5 {
    width: 99vw;
    height: 64vw;
    background-image: url("/images/section5/backgroundsec5.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2vw 3vw;
    gap: 3vw;
    margin-left: auto;
} */
.section5-box {
    display: flex;
    margin: 0 auto;
    height: 90vw;
    gap: 3vw;
}

/* 
.section5-background-image {
    height: 64vw;
    width: 99vw;
    padding-left: 3vw;
    padding-bottom: 1.5vw;
}

.section5-box-internal {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.id-image {
    width: 36vw;
    height: 52vw;
    background-color: #2D2F19;
    border: 6px solid #8E8F7B;
}

.screen-2 {
    width: 30vw;
    height: 45vw;
    background-color: #2D2F19;
    border: 0.4vw solid #8E8F7B;
}

.progress-bar {
    width: 7.4vw;
    height: 61vw;
    background-color: #000;
    display: flex;
    margin-left: 13vw;
}

.group-buttons-sec-5 {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    align-items: center;
} */
/* .puzzle {
    width: 100%;
    height: auto;
    background-image: url("../images/puzzleFrame.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.yellow-tape {
    width: 100%;
    height: 4vw;
    background-image: url("../images/yellowtape.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.grid {
    width: 100%;
    height: 44vw;
    background-image: url("../images/grid.png");
    background-repeat: no-repeat;
    background-size: cover;
} */
.section6-puzzle {
    width: 100%;
    height: 60vw;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
}

.section6-puzzle img {
    position: absolute;
    cursor: grab;
}

.drop1,
.puzzle1 {
    width: 17.56vw;
}

.drop2,
.puzzle2 {
    width: 11.11vw;
}

.drop3,
.puzzle3 {
    width: 21.38vw;
}

.drop4,
.puzzle4 {
    width: 22.77vw;
}

.drop5,
.puzzle5 {
    width: 12.84vw;
}

.drop6,
.puzzle6 {
    width: 7.98vw;
}

.puzzle1 {
    transform: rotate(-9.4deg);
    left: 6%;
}

.puzzle2 {
    transform: rotate(14.2deg);
    left: 30%;
}

.puzzle3 {
    transform: rotate(-8.5deg);
    left: 50%;
}

.puzzle4 {
    transform: rotate(46deg);
    left: 70%;
}

.puzzle5 {
    transform: rotate(0deg);
    left: 91%;
}

.puzzle6 {
    transform: rotate(-25.5deg);
    left: 30%;
}

.puzzle1,
.puzzle2,
.puzzle3,
.puzzle4,
.puzzle5 
.puzzle6
{
    top: 1vw;
}

.puzzle-drop div {
    height: 24.65vw;
    background-color: var(--black);
}

.puzzle-drop {
    display: flex;
}

.image {
    background-repeat: no-repeat;
    background-size: cover;
}

.drop1.image {
    background-image: url('../images/section6/puzzlepart1.png');
}

.drop2.image {
    background-image: url('../images/section6/puzzlepart2.png');
}

.drop3.image {
    background-image: url('../images/section6/puzzlepart3.png');
}

.drop4.image {
    background-image: url('../images/section6/puzzlepart4.png');
}

.drop5.image {
    background-image: url('../images/section6/puzzlepart5.png');
}

.drop6.image {
    background-image: url('../images/section6/puzzlepart6.png');
}